<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>

    <div layout:fragment="content">
        <link rel="stylesheet" href="/css/style.css">

</head>


<div class="a-body">
    <div class="row mt-3">
        <div class="col">

            <div class="card">
                <div class="card-header">
                    공지사항
                </div>

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">제목</th>
                            <th scope="col">작성자</th>
                            <th scope="col">작성일</th>
                            <th scope="col">조회 수</th>
                        </tr>
                        </thead>


                        <tbody>
                        <tbody th:with="link = ${pageAdminRequestDTO.getLink()}">
                        <tr class="table-body" th:each="dto : ${responseDTO.dtoList}">
                            <td th:text="${dto.bno}"></td>
                            <td>
                                <a th:href="|@{/board/read(bno=${dto.bno})}&${link}|"
                                   style="text-decoration: none; color: inherit;">
                                    <span th:if="${dto.notice}" style="color:#009879; font-weight:bold">[공지]</span>
                                    [[${dto.title}]]
                                </a>
                            </td>

                            <td th:text="${dto.writer}"></td>
                            <td>[[${#temporals.format(dto.regDate, 'yyyy-MM-dd')}]]</td>

                        <td th:text="${dto.viewCount}"></td>
                        </tr>
                        </tbody>
                    </table>

                <div class="float-end">
                    <ul class="pagination flex-wrap">

                        <li class="page-item" th:classappend="${!responseDTO.prev} ? 'disabled'">
                            <a href="javascript:void(0)" class="page-link"
                               th:onclick="'movePage(' + ${responseDTO.page - 1} + ')'">이전</a>
                        </li>

                        <th:block th:each="i : ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                            <li th:class="${responseDTO.page == i} ? 'page-item active' : 'page-item'">
                                <a href="javascript:void(0)" class="page-link"
                                   th:data-num="${i}" th:text="${i}"></a>
                            </li>
                        </th:block>

                        <!-- 다음 버튼 -->
                        <li class="page-item" th:classappend="${!responseDTO.next} ? 'disabled'">
                            <a href="javascript:void(0)" class="page-link"
                               th:onclick="'movePage(' + ${responseDTO.page + 1} + ')'">다음</a>
                        </li>
                    </ul>
                    </div>


                    <a href="/board/register">
                        <button type="button" class="btn-write">글쓰기</button> </a>
                </div>
            </div>
        </div>
</div>
    </html>



