<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>findID</title>
</head>
<body>

<form id="registerForm" action="/member/findID" method="post">
    <div class="input-group mb-3">
        <span class="input-group-text">이름</span>
        <input type="text" name="username" class="form-control" placeholder="USER ID">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">가입 이메일주소</span>
        <input type="email" name="m_email" class="form-control">

    </div>


</form>

</body>
</html>