<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserMyPage</title>
</head>
<body>
    <div>
        <!-- 프로필 이미지가 있으면 출력 -->
        <img th:if="${#authentication.principal.profileImagePath != null}"
             th:src="${#authentication.principal.profileImagePath}"
             alt="프로필 이미지" width="100" height="100">

        <!-- 없으면 기본 이미지 -->
        <img th:if="${#authentication.principal.profileImagePath == null}"
             src="/images/default-profile.png"
             alt="기본 프로필 이미지" width="100" height="100">

         <a href="/member/modify">회원정보 수정</a>
         <a href="/member/delete">회원 삭제</a>
    </div>
</body>
</html>
