<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">






    <footer class="footer" th:fragment="footer">
        <div class="footer-container">
            <div class="footer-left">
                <h3>Re:Life</h3>
                <p>Our vision is to provide convenience<br>and help increase your sales business.</p>
                <div class="footer-icons">
                    <span>●</span><span>●</span><span>●</span>
                </div>
            </div>

            <div class="footer-links">
                <div>
                    <h4>About</h4>
                    <a href="#">How it works</a>
                    <a href="#">Featured</a>
                    <a href="#">Partnership</a>
                    <a href="#">Business Relation</a>
                </div>
                <div>
                    <h4>Community</h4>
                    <a href="#">Events</a>
                    <a href="#">Blog</a>
                    <a href="#">Podcast</a>
                    <a href="#">Invite a friend</a>
                </div>
                <div>
                    <h4>Socials</h4>
                    <a href="#">Discord</a>
                    <a href="#">Instagram</a>
                    <a href="#">Twitter</a>
                    <a href="#">Facebook</a>
                </div>
            </div>

        </div>

        <div class="footer-bottom">
            <p>©2022 Company Name. All rights reserved</p>
            <div>
                <a href="#">Privacy & Policy</a> | <a href="#">Terms & Condition</a>
            </div>
        </div>

    </footer>

