
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
    <title>장바구니</title>

        <head>
            <div layout:fragment="content">
                <link rel="stylesheet" href="/css/style.css">

                <style>
        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            border-bottom: 1px solid #009879; /* 초록색 1px */
            text-align: center;
        }
        img {
            width: 80px;
            height: auto;
        }
        .quantity {
            width: 50px;
        }
    </style>
</head>


<body>
<h2 style="text-align:center;">장바구니</h2>
<table>
    <thead>
    <tr>
        <th>상품 이미지</th>
        <th>상품명</th>
        <th>가격</th>
        <th>수량</th>
        <th>합계</th>
    </tr>
    </thead>
    <tbody>
<!--    <tr th:each="item : ${cartItems}">
        <td><img th:src="@{${item.item.imageUrl}}" alt="상품 이미지"/></td>
        <td th:text="${item.item.name}">상품명</td>
        <td th:text="${item.item.price}">가격</td>
        <td class="quantity" th:text="${item.count}">수량</td>
        <td th:text="${item.item.price * item.count}">합계</td>
    </tr>-->
    </tbody>
</table>
</body>
</html>